* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.boxed {
  margin: 0 40px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 10px 10px 0px #1b1f3b;
  margin: 10px 0px;
  padding: 20px 40px;
  background-color: palegreen;
}
.nav::before {
  content: "PC LAYOUT ONLY";
  position: absolute;
  left: 15%;
  font-size: 1.5em;
  font-weight: bold;
}
.nav__site-logo {
  max-width: 120px;
  max-height: 80px;
  border-radius: 10px;
  cursor: pointer;
}
.nav__menu .nav__menu--list {
  display: flex;
  align-items: center;
}
.nav__menu .nav__menu--list__item {
  list-style-type: none;
  padding: 0 10px;
}
.nav__menu .nav__menu--list__item a {
  text-decoration: none;
  color: #1b1f3b;
  font-weight: bold;
  cursor: pointer;
  border: none;
  font-size: 1em;
  text-transform: lowercase;
  font-family: Arial, Helvetica, sans-serif;
}
.nav__menu .nav__menu--list__item a:hover {
  text-decoration: underline;
  animation: hinge; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}
.nav__cta {
  background-color: palegoldenrod;
  color: #1b1f3b;
  font-weight: bold;
  cursor: pointer;
  border: none;
  padding: 20px 55px;
  font-size: 1.1em;
  box-shadow: 10px 10px 0px #1b1f3b;
}
.nav__cta:hover {
  background-color: #1b1f3b;
  color: palegreen;
}

.services {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f7a072;
  box-shadow: 10px 10px 0px #1b1f3b;
  gap: 20px;
  margin: 40px 0px;
  padding: 20px;
  flex-direction: row;
}
.services .services__card--title {
  color: #1b1f3b;
  font-size: 1.7em;
  margin-bottom: 10px;
  letter-spacing: 0.2em;
}
.services .services__card--description {
  color: #1b1f3b;
  font-size: 0.9em;
  text-align: center;
  margin-bottom: 10px;
  letter-spacing: 0.1em;
}
.services .services__card--cta {
  background-color: #fdfcdc;
  color: #1b1f3b;
  font-weight: bold;
  cursor: pointer;
  border: none;
  padding: 10px 20px;
  border: 2px solid;
  box-shadow: 5px 5px 0px #1b1f3b;
  font-size: 1.1em;
  margin-top: 1rem;
}
.services .services__card--cta:hover {
  background-color: #fb4b4e;
  color: #fff;
}
.services__card {
  background-color: #fdfcdc;
  border: 5px solid #1b1f3b;
  display: flex;
  min-height: 400px;
  max-width: 300px;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex-direction: column;
}
.services__card:hover {
  background-color: #d9e5d6;
}
.services__card img {
  width: 100px;
  height: 100px;
}

.hero {
  display: flex;
  background-color: palegoldenrod;
  align-items: center;
  justify-content: space-between;
  padding: 0px 40px;
  box-shadow: 10px 10px 0px #1b1f3b;
  margin: 40px 0px;
  position: relative;
  height: 600px;
}
.hero__image {
  max-width: 500px;
  position: relative;
}
.hero__image img {
  width: 100%;
  height: 100%;
}
.hero__info {
  position: relative;
}
.hero__info .hero__info-title {
  color: #1b1f3b;
  font-size: 5rem;
  margin-bottom: 20px;
}
.hero__info .hero__info-subtitle {
  color: #1b1f3b;
  font-size: 1.7rem;
  margin-bottom: 20px;
}
.hero__info .hero__info-cta {
  background-color: palegreen;
  color: #1b1f3b;
  font-weight: bold;
  cursor: pointer;
  border: none;
  padding: 20px 55px;
  box-shadow: 5px 5px 0px #1b1f3b;
  font-size: 1.1em;
  border: 2px solid;
}
.hero__info .hero__info-cta:hover {
  background-color: #fb4b4e;
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
